@using NavigationRoutes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/mytheme")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/" title="Neighhhhh">Racing Resource</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Horses","Index","Horse")</li>
                        <li>@Html.ActionLink("Trainers","Index","Trainer")</li>
                        <li>@Html.ActionLink("Jockeys","Index","Jockey")</li>
                        <li>@Html.ActionLink("Courses","Index","Course")</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="content container">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
