@model RacingResource.Models.Trainer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Trainer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Forename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Forename)
            @Html.ValidationMessageFor(model => model.Forename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenceType)
            @Html.ValidationMessageFor(model => model.LicenceType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UKHR_TrainerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UKHR_TrainerID)
            @Html.ValidationMessageFor(model => model.UKHR_TrainerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressId)
            @Html.ValidationMessageFor(model => model.AddressId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
