@model RacingResource.Models.Horse
@using BootstrapSupport

@{
    ViewBag.Title = Model.Name;
}


<h1>@Model.Name <small>Details</small></h1>

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Age
            </th>
            <th>Sex
            </th>
            <th>Nationality
            </th>
            <th>Sire
            </th>
            <th>Dam
            </th>
            <th>Current Trainer
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Age">
                @(DateTime.Now.Year - Model.YearOfBirth)
            </td>
            <td data-label="Sex">
                @Model.Sex
            </td>
            <td data-label="Nationality" >
                @Model.Nationality
            </td>
            <td data-label="Sire">
                @if (Model.Sire != null)
                {
                    @Html.ActionLink(Model.Sire.Name, "Details", new { ID = Model.Sire.Id })
            }
            </td>
            <td data-label="Dam">
                @if (Model.Dam != null)
                {
                    @Html.ActionLink(Model.Dam.Name, "Details", new { ID = Model.Dam.Id })
            }
            </td>
            <td data-label="Current Trainer">
                @if (Model.Trainer != null)
                {
                    @Html.ActionLink(string.Format("{0} {1}", Model.Trainer.Forename, Model.Trainer.Surname), "Details", "Trainer", new { ID = Model.Trainer.Id }, null)
            }
            </td>
        </tr>
    </tbody>
</table>

<h2>Ratings</h2>

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Flat Rating
            </th>
            <th>AW Rating
            </th>
            <th>Hurdle Rating
            </th>
            <th>Chase Rating
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Flat Rating">
                @(Model.FlatRating != null ? Model.FlatRating.ToString() : "-")
            </td>
            <td data-label="AW Rating">
                @(Model.AWRating  != null ? Model.AWRating.ToString() : "-")
            </td>
            <td data-label="Hurdle Rating" >
                @(Model.HurdleRating  != null ? Model.HurdleRating.ToString() : "-")
            </td>
            <td data-label="Chase Rating">
               @(Model.ChaseRating  != null ? Model.ChaseRating.ToString() : "-")
            </td>
        </tr>
    </tbody>
</table>


<p>
    @Html.ActionLink("Edit", "Edit", Model.GetIdValue()) |
    @Html.ActionLink("Back to List", "Index")
</p>

