@model RacingResource.Models.Race

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Race</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OffTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OffTime)
            @Html.ValidationMessageFor(model => model.OffTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Distance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Distance)
            @Html.ValidationMessageFor(model => model.Distance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prize)
            @Html.ValidationMessageFor(model => model.Prize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BhaRid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BhaRid)
            @Html.ValidationMessageFor(model => model.BhaRid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BhaCid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BhaCid)
            @Html.ValidationMessageFor(model => model.BhaCid)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
