@using BootstrapSupport
@using RacingResource.Models
@using RacingResource.Utilities
@using LinqToTwitter
@using PagedList;
@using PagedList.Mvc;
@model RacingResource.Models.Jockey

@{
    string name = (Model.Forenames ?? Model.Initials) + ' ' + Model.Surname;
    ViewBag.Title = name;
    List<Status> tweets = (List<Status>)ViewData["Tweets"];
}


<h1>@Model.GetLabel() <small>Details</small></h1>

<div class="row">
    @if (tweets != null)
    {
        <div class="span6">
            <h3>Latest Tweets</h3>
            <div class="twitterFeed">
                <ul>
                    @foreach (var tweet in tweets)
                    {
                        <li>
                            <img src="@tweet.User.ProfileImageUrl" />
                            @tweet.Text
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="span6">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Licence
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.ResponsiveTd("Name", name)
                @Html.ResponsiveTd("Licence", Model.LicenceType)
            </tbody>
        </table>
    </div>
</div>
<h2>Results</h2>
@Html.PagedListPager((PagedList<Result>)ViewBag.Results, p => Url.Action("Details", new { p }))
<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Course
            </th>
            <th>
                Horse
            </th>
            <th>
                Race
            </th>
            <th>
                Weight
            </th>
            <th>
                Odds
            </th>
            <th>
                Position
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Result r in (PagedList<Result>)ViewBag.Results)
        {
            <tr>
                @Html.ResponsiveTd("Date", r.Race.OffTime.ToString("d MMM yy"))
                @Html.ResponsiveTd("Course", Html.ActionLink(r.Race.Meeting.Course.Name, "Details", "Course", new { id = r.Race.Meeting.Course.Id }, null))
                @Html.ResponsiveTd("Horse", Html.ActionLink(r.Horse.Name, "Details", "Horse", new { id = r.Horse.Id }, null))
                @Html.ResponsiveTd("Race", Html.ActionLink(r.Race.Name, "Details", "Race", new { id = r.Race.Id }, null))
                @Html.ResponsiveTd("Weight", StringUtilities.FormatWeight(r.Weight ?? 0))
                @Html.ResponsiveTd("Odds", StringUtilities.DoubleToFraction(r.StartingPrice ?? 0.0))
                @Html.ResponsiveTd("Postion", r.Position)
            </tr>
        }
    </tbody>
</table>